# Database (Local use 'localhost', Prod use Cloud IP)
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASS=secret_password_here
DB_NAME=prospector_sonora

# APIs
N8N_WEBHOOK_URL=http://localhost:5678/rest/oauth2-callback
GOOGLE_MAPS_API_KEY=tu_api_key_aqui

# Environment Switch
NODE_ENV=development # Cambiar a 'production' para activar logs estrictos
