@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-border: oklch(0.922 0 0);
  --color-ring: oklch(0.708 0 0);
  --border: var(--color-border);
  --ring: var(--color-ring);
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
